/*
 **********************************************************************
 * -------------------------------------------------------------------
 * Project Name : Abdal 4iProto Server
 * File Name : styles.module.css
 * Programmer : Ebrahim Shafiei (EbraSha)
 * Email : Prof.Shafiei@Gmail.com
 * Created On : 2026-08-13 16:21:05
 * Description : Styles for homepage feature cards
 * -------------------------------------------------------------------
 *
 * "Coding is an engaging and beloved hobby for me. I passionately and insatiably pursue knowledge in cybersecurity and programming."
 * – Ebrahim Shafiei
 *
 **********************************************************************
 */

.features {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  width: 100%;
}

.featureSvg {
  height: 180px;
  width: 180px;
}
